window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="nwg-look"
    open-floating true
}

window-rule {
    match app-id=r#"org\.kde\.dolphin$"#
    open-floating true
}

window-rule {
    match app-id=r#"org\.kde\.konsole$"#
    open-floating true
}


window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}