include "config.d/binds.kdl"
include "config.d/input.kdl"
include "config.d/layout.kdl"
include "config.d/output.kdl"
include "config.d/window-rules.kdl"

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "qs" "-c" "noctalia-shell" "--no-duplicate"
spawn-at-startup "swayidle" "-w"


hotkey-overlay {
    skip-at-startup
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
}


overview {
    zoom 0.25
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
}

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
    XDG_CURRENT_DESKTOP "gnome"
    // Remove a variable by using null as the value: 
    // DISPLAY null
}

